.body {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.1fr 1fr 0.1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.header {
  grid-area: 1 / 1 / 2 / 2;
}

.analytics {
  grid-area: 2 / 1 / 3 / 2;
}

.footer {
  grid-area: 3 / 1 / 4 / 2;
}

.parent {
  overflow-y: hidden;
  display: grid;
  grid-template-columns: 0.2fr repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.div1 {
  grid-area: 1 / 1 / 2 / 2;
}

.div2 {
  grid-area: 1 / 2 / 2 / 3;
}

.div3 {
  grid-area: 1 / 3 / 2 / 4;
  .BoxPlotparent {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 350px);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }

  .BoxPlotdiv1 {
    grid-area: 1 / 1 / 2 / 2;
  }

  .BoxPlotdiv2 {
    grid-area: 2 / 1 / 2 / 2;
  }

}
line {
  stroke: white;
}

path {
  stroke: white;
}

text {
  fill: white;
}

.selectedScatterPlot {
  fill: rgb(255, 164, 0) !important;
  stroke: black !important;
  stroke-width: 1px;
}
.selectedBoxPlot{
  fill: rgb(255, 164, 0) !important;
  stroke: black !important;
}
.selectedHeatMap {
  opacity: 1 !important;
  stroke: white !important;
}
