.body {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.1fr 1fr 0.1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  font-family: monaco, Consolas, "Lucida Console", monospace;
}

.header {
  grid-area: 1 / 1 / 2 / 2;
}

.analytics {
  grid-area: 2 / 1 / 3 / 2;
}

.footer {
  grid-area: 3 / 1 / 4 / 2;
}

.parent {
  overflow-y: hidden;
  display: grid;
  grid-template-columns: 0.3fr repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.category {
  grid-area: 1 / 1 / 2 / 2;
  font-size: 17px;
  /* width: 145px; */
  padding: 5px;
}

.div2 {
  grid-area: 1 / 2 / 2 / 3;
}

.div3 {
  grid-area: 1 / 3 / 2 / 4;
  .BoxPlotparent {
    display: grid;
    grid-template-columns: repeat(2, 0.5fr);
    grid-template-rows: repeat(4, 167px);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    grid-template-areas:
    "BoxPlotdiv1 BoxPlotdiv2"
    "BoxPlotdiv3 BoxPlotdiv4"
    "Histogram1 Histogram2"
    "Histogram3 .";
  }
  .HistogramSvg1{
    font-size: 8px !important;
  }
  .HistogramSvg2{
      font-size: 8px !important;
  }
  .Histogram3 {
    grid-column: span 2;
  }
  
}
line {
  stroke: #ffffff;
}

path {
  stroke: white;
}

text {
  fill: white;
}

.selectedScatterPlot {
  stroke: black !important;
  stroke-width: 1px;
}
.selectedScatterPlotFilteredParallel {
  stroke: yellow !important;
  stroke-width: 1px;
}
.selectedScatterPlotFilteredBoxPlot {
  stroke: yellow !important;
  stroke-width: 1px;
}
.selectedBoxPlotLine {
  stroke: rgb(255, 164, 0) !important;
  border: 1px black solid;
  stroke-width: 2px;
}
.selectedParallelCoordinates {
  opacity: 1 !important;
  stroke: white !important;
}

.selectedBoxPlotRect {
  opacity: 0.9 !important;
}
.selectedInvisibleBoxPlotRect {
  opacity: 0.9 !important;
}


.removePointer {
  cursor: unset !important;
}



.tooltip {
  position: relative;
  display: inline-block;
  
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  
  color: black;
  text-align: center;
  padding: 5px 0;
  position: relative;
  z-index: 1;
  /* bottom: 125%;
  left: 50%; */
  /* margin-left: -60px; */
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: relative;
  /* top: 100%;
  left: 50%; */
  /* margin-left: -5px;
  border-width: 5px; */

 
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.BoxPlotparent .xAxis .tick {
  font-size: 8.7px;
}
.BoxPlotparent .x .tick {
  font-size: 12px;
}


.toggle-button{
  height: 40px;
  width: 40px;
}

.toggle-button.active {
  background-color: #202124;
  cursor: pointer;
  color: #4CAF50;
}

.toggle-button.disabled {
  background-color: #202124;
  cursor: pointer;
  color: white;
} 


/* CSS */
.button-visualize {
  appearance: none;
  background-color: #202124;
  border: 2px solid rgb(255, 164, 0,0.3);
  border-radius: 15px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-height: 60px;
  min-width: 0;
  outline: none;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
  will-change: transform;
}

.button-visualize:disabled {
  pointer-events: none;
}

.button-visualize:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.button-visualize:active {
  box-shadow: none;
  transform: translateY(0);
}


/* CSS */
.button-compare {
  appearance: none;
  background-color: #202124;
  border: 2px solid rgb(204, 15, 15,0.3);
  border-radius: 15px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-height: 60px;
  min-width: 0;
  outline: none;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
  will-change: transform;
}

.button-compare:disabled {
  pointer-events: none;
}

.button-compare:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.button-compare:active {
  box-shadow: none;
  transform: translateY(0);
}